@{
    ViewBag.Title = "Contact";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<div class="container">
    <div>
        <h3 style="font-family: Tokyo">Hi! Feel free to contact us here : </h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="https://www.instagram.com/gamesbybeware/">  <i class='fab fa-instagram' style='font-size:36px'></i><h6>Instagram : </h6></a>
            <h6>gamesbybeware</h6>
        </div>
        <div class="col-md-3">
            <a href="mailto:gamesbybeware@gmail.com"><i class="material-icons" style="font-size:36px">email</i> <h6>Email : </h6></a>
            <h6>gamesbybeware@gmail.com</h6>
        </div>
    </div>
</div>


 