@{
    ViewBag.Title = "Home Page";
}


<div class="container" style="        
        height: 500px;
        background-color: #ff8559;
        border-radius: 10px;
        margin-top: 20vh">
    <div class="row align-items-center justify-content-center" style="height:500px">
        <div class="col-md-5" style="height:500px">
            <h2 class="heading mb-3">
                A Quick & Effective
                To-Do List
            </h2>
            <div class="sub-heading">
                <p>Beware Task! is a simple to-do list web for your task managemen</p>
                <p class="mb-5"><a class="btn btn-success btn-lg pb_btn-pill smoothscroll" style="background-color:#fff568; border:0px" href="#Register"><span style="color:black">Register Now!</span></a></p>
                <p class="mb-5"><a class="btn btn-success btn-lg pb_btn-pill smoothscroll" style="background-color:#fff568; border:0px" href="#Register"><span style="color:black">Login</span></a></p>
            </div>
        </div>
        <div class="col-md-1" style="height:500px">

        </div>
        <div class="col-md-6" style="background-image: url('../Images/Home.png'); background-size:contain; height:500px; background-repeat:no-repeat">

        </div>
    </div>
</div>

<div class="container" style="height:500px; ">
    <div class="row align-items-center justify-content-center" id="headingHomepage">
        <small>features</small>
        <h1 style="margin-block-start:0;margin-block-end:0;">Beware Task!</h1>
    </div>
    <div class="row align-items-center justify-content-center" id="headingHomepage">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row align-items-center justify-content-center" id="headingHomepage">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>

